.breadcrumbs{
    padding: 10px;
    font-family: tahoma;
}
.bcItem{
    display: inline-block;

}
.bcItem:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: lightgrey;

}
.bcLink{
    text-decoration: none;
    color: darkgrey;

}
.bcLink:hover{
  text-decoration: underline;
  color: #4d5791;

}
.bcLink-active{
  color:#b4c6f0;
}
ul{
  float:left;
}
